/*----------------------------------------------------------------------------------*/
/* OFFICES - PAGE
/*----------------------------------------------------------------------------------*/
#offices-page{
  #main-banner{
    @extend .main-banner;
  }

  #our-offices{
    width: 90%;
    padding: 30px 0;
    max-width: 1560px;
    @media screen and (min-width: 640px) {
      padding: 50px 0;
    }

    @media screen and (min-width: 1024px) {
      padding: 70px 0;
    }

    .ms-st-title{
      color: #000;
      font-size: 18px;
      font-size: 18/16*1rem;
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
      font-family: $tiempos;
      letter-spacing: 1.2px;
      text-align: left;
      @media screen and (min-width: 640px) {
        font-size: 22px;
        font-size: 22/16*1rem;
      }
    }

    >p{
      @extend .ms-paragraph;
      display: none;
      @media screen and (min-width: 991px) {
        display: block;
      }
    }

    .ms-wrap-menu{
      display: none;
      @media screen and (min-width: 991px) {
        display: block;
        padding-top: 40px;
        margin-top: 30px;
        border-top: 3px solid #000;
        margin-bottom: 40px;
        ul{
          display: flex;
          li{
            position: relative;
            margin-right: 10px;
            padding-right: 10px;
            &:after{
              content: "";
              display: block;
              width: 1px;
              height: 15px;
              background-color: #000;
              right: 0;
              position: absolute;
              top: 5px;
            }

            &:last-child{
              padding-right: 0;
              margin-right: 0;
              &:after{
                display: none;
              }
            }

            a {
              color: #000;
              display: inline-block;
              font-family: $tiempos;
              font-size: 22px;
              font-size: 22/16*1rem;
              font-weight: 600;
              position: relative;

              &:after{
                content: "";
                display: block;
                left: 0;
                bottom: 3px;
                background-color: #000;
                width: 0;
                height: 1px;
                transition: all .4s;
              }

              &:hover{
                &:after{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .ms-wrap-slider{
      width: 100%;
      position: relative;
      .ms-slider{
        width: auto;
        margin-left: -10px;
        margin-right: -10px;
        .ms-item{
          padding: 0 10px;
          .ms-wrap-img{
            width: 100%;
            position: relative;
            margin-bottom: 30px;
            background-color: #333;
            &:after{
              content: "";
              display: block;
              padding-bottom: 60%;
            }

            iframe,
            img{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }

            img{
              object-fit: cover;
            }
          }

          .ms-info{
            max-width: 255px;
            margin: 0 auto;
            .ms-item-title,
            .ms-address,
            .ms-phone{
              color: #000;
              font-size: 15px;
              font-size: 15/16*1rem;
              font-weight: 600;
              margin-bottom: 10px;
              font-family: $tiempos;
              letter-spacing: 1.2px;
              font-style: normal;
              span{
                display: block;
              }
            }

            @media screen and (min-width: 640px) {
              .ms-item-title,
              .ms-address,
              .ms-phone{
                font-size: 22px;
                font-size: 22/16*1rem;
              }

              .ms-item-title{
                margin-bottom: 20px;
              }
            }

            .ms-separator{
              width: 15px;
              height: 1px;
              background-color: #000;
              display: block;
              margin: 15px 0;
              @media screen and (min-width: 640px) {
                margin: 30px 0;
              }
            }

            .ms-wrap-btn{
              width: 100%;
              text-align: left;
              margin: 20px 0;
              .ms-link{
                font-family: $tiempos;
                font-size: 15px;
                font-size: 15/16*1rem;
                font-style: italic;
                position: relative;
                display: inline-block;
                background-color: transparent;
                font-weight: 100;
                &:after{
                  content: "";
                  display: block;
                  width: 0;
                  position: absolute;
                  bottom: 0;
                  height: 1px;
                  background-color: #000;
                  transition: all .4s;
                }

                &:hover{
                  &:after{
                    width: 100%;
                  }
                }
              }

              @media screen and (min-width: 640px) {
                margin: 30px 0 40px 0;
                .ms-link{
                  font-size: 22px;
                  font-size: 22/16*1rem;
                }
              }
            }
          }

          .ms-agent-detail{
            display: flex;
            align-items: flex-start;
            .ms-wrap-img{
              width: 60px;
              height: 81px;
              position: relative;
              margin-right: 15px;
              flex-shrink: 0;
              background-color: #333;
              img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }

            .ms-min-info{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              .ms-sb-title,
              .ms-phone,
              .ms-email{
                color: #000;
                font-size: 15px;
                font-size: 15/16*1rem;
                font-weight: normal;
                margin-bottom: 5px;
                font-family: $tiempos;
                letter-spacing: 1.2px;
                font-style: normal;
                span{
                  display: block;
                }
              }
            }
          }
        }
      }

      .gs-wrapper-items{
        &.gs-transition-swipe{
          align-items: flex-start;
        }
      }

      .gs-wrapper-arrows{
        &.gs-style-arrow{
          .gs-prev-arrow,
          .gs-next-arrow{
            background-color: transparent;
            opacity: 1;
            text-indent: -999999px;
            right: -15px;
            &:before{
              background-image: none;
              font-family: "idx-icons"!important;
              text-indent: 0;
              font-size: 30px;
              color: #000;
              content: "\e932" !important;
              transform: rotate(-90deg);
              width: 30px;
              height: 30px;
              top: 50%;
              left: 50%;
              margin: 0;
              margin-top: -15px;
              margin-left: -15px;
              position: absolute;
            }
          }

          .gs-prev-arrow{
            right: auto;
            left: -15px;
            &:before{
              transform: rotate(90deg);
            }
          }
        }
      }

      .clidxboost-gs-wrapper-bullets{
        margin: 15px auto 20px auto;
        .gs-bullet{
          width: 20px;
          height: 20px;
          text-indent: -999999px;
          overflow: hidden;
          display: block;
          position: relative;
          &:before{
            position: absolute;
            width: 10px;
            height: 10px;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          } 
        }

        @media screen and (min-width: 1440px) {
          margin: 30px auto;
        }
      }

      @media screen and (min-width: 640px) {
        .gs-container-items {
          width: auto;
          margin: 0 -10px;
          .gs-item-slider{
            padding: 0 10px;
          }
        }

        .ms-slider{
          .ms-item{
            .ms-wrap-img{
              img{
                object-fit: cover;
              }
            }
  
            .ms-info{
              max-width: 355px;
            }

            .ms-agent-detail{
              align-items: center;
              .ms-wrap-img {
                width: 90px;
                height: 120px;
                margin-bottom: 0;
              }

              .ms-min-info{
                .ms-phone,
                .ms-email,
                .ms-sb-title{
                  font-size: 20px;
                  font-size: 20/16*1rem;
                  margin-bottom: 7px;
                }

                .ms-email{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      @media screen and (min-width: 991px) {
        .ms-slider{
          margin: 0 auto;
          .ms-item{
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 3px solid #000;

            .ms-info{
              margin: 0;
            }

            .ms-wrap-img{
              width: 49%;
              max-width: 700px;
              margin-bottom: 0;
              margin-right: 40px;
              &:after{
                padding-bottom: 100%;
              }
            }
          }
        }
      }

      @media screen and (min-width: 1440px) {
        .ms-slider{
          .ms-item{
            .ms-wrap-img{
              &:after{
                padding-bottom: 70%;
              }
            }
          }
        }
      }
    }
  }
}