/*----------------------------------------------------------------------------------*/
/* ABOUT - PAGE
/*----------------------------------------------------------------------------------*/
#video-page {
  padding: 30px 0 50px 0;
  width: 90%;
  max-width: 1530px;
}
#video-page .ms-title {
  font-size: 18px;
  font-weight: 100;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  #video-page .ms-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 991px) {
  #video-page .ms-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  #video-page .ms-title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1440px) {
  #video-page .ms-title {
    font-size: 32px;
  }
}
#video-page .ms-slider {
  position: relative;
  margin: 0 -10px;
}
#video-page .ms-slider:after {
  content: "";
  display: block;
  clear: both;
}
#video-page .ms-slider .ms-item {
  padding: 0 10px;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #video-page .ms-slider .ms-item {
    margin-bottom: 20px;
    width: 50%;
  }
}
@media screen and (min-width: 991px) {
  #video-page .ms-slider .ms-item {
    width: 33.33%;
  }
}
@media screen and (min-width: 1024px) {
  #video-page .ms-slider .ms-item {
    width: 25%;
  }
}
#video-page .ms-slider .ms-item .ms-wrap-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#video-page .ms-slider .ms-item .ms-wrap-img:after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
#video-page .ms-slider .ms-item .ms-wrap-img img,
#video-page .ms-slider .ms-item .ms-wrap-img iframe,
#video-page .ms-slider .ms-item .ms-wrap-img embed,
#video-page .ms-slider .ms-item .ms-wrap-img object,
#video-page .ms-slider .ms-item .ms-wrap-img video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
#video-page .ms-wrap-tit {
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1024px) {
  #video-page {
    padding-top: 94px;
  }
}
#video-page .youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
#video-page .youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
#video-page .youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
#video-page .youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
#video-page .youtube img,
#video-page .youtube .play-button {
  cursor: pointer;
}
#video-page .youtube img,
#video-page .youtube iframe,
#video-page .youtube .play-button,
#video-page .youtube .play-button:before {
  position: absolute;
}
#video-page .youtube .play-button,
#video-page .youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
#video-page .youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}