$accesibility-border-color:  #0066ff;
$accesibility-box-shadow-color: rgba($color: #0066ff, $alpha: 0.75);

.clidxboost-gs-wrapper-bullets {
  .gs-bullet {
    &:focus {
      border-color: $accesibility-border-color;
      box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
      outline: 0;
    }
  }
}

.gs-wrapper-arrows {
  .gs-prev-arrow,
  .gs-next-arrow {
    &:focus {
      border-color: $accesibility-border-color;
      box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
      outline: 0;
    }
  }
}

#clidxboost-btn-search {
  &:focus {
    border-color: $accesibility-border-color;
    box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
    outline: 0;
  }
}

#header {
  .ms-wrap-header {
    .ms-top-header,
    .ms-middle-header {
      a {
        &:focus {
          border-color: $accesibility-border-color;
          box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
          outline: 0;
        }
      }
    }
  }
}

#footer {
  a,
  input,
  button,
  #email-newsletter {
    &:focus {
      border-color: $accesibility-border-color;
      box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
      outline: 0;
    }
  }
}

.ms-next-step,
.ms-btn {
  &:focus {
    border-color: $accesibility-border-color;
    box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
    outline: 0;
  }
}

#developments-slider,
#list-agents {
  a {
    &:focus {
      border-color: $accesibility-border-color;
      box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
      outline: 0;
    }
  }
}

#contactUs,
#contact-form,
#find-agent {
  .flex-content-form {
    input,
    textarea,
    select,
    button,
    .clidxboost-btn-link {
      &:focus {
        border-color: $accesibility-border-color;
        box-shadow: 0 0 0 3.2px $accesibility-box-shadow-color;
        outline: 0;
      }
    }
  }
}