/*-----------------------------------------------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------------------------------------------*/
#footer{
  background-color: #000;
  padding: 30px 0;

  @media screen and (min-width: 1024px) {
    padding: 50px 0;
  }

  .ms-wrap-footer{
    width: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1630px;
    
    .ms-footer-social{
      .ms-wrap-newsletter{
        display: none;
      }
    }

    .ms-footer-logo{
      text-align: center;
      margin: 15px auto;
      >a{
        display: block;
        width: 185px;
        margin: 0 auto;
        line-height: 0;
        img{
          width: auto;
          max-width: 100%;
        }
      }
    }

    .ms-social{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      .ms-link {
        align-items: center;
        background-color: #FFF;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #000;
        display: flex;
        font-size: 14px;
        font-weight: 100;
        height: 25px;
        justify-content: center;
        margin: 0 3px;
        transition: all .4s;
        width: 25px;
        span{
          display: none;
        }
  
        &:hover,
        &:focus{
          background-color: transparent;
          color: #fff;
        }
      }
  
      @media screen and (min-width: 1024px){
        justify-content: flex-start;
        .ms-link{
          margin-left: 0;
          margin-right: 5px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }

    .ms-footer-menu{
      nav{
        width: 100%;
        max-width: 315px;
        margin: 0 auto;
        &.ms-ft-menu-b{
          display: none;
        }

        ul{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          li{
            width: auto;
            padding-right: 10px;
            margin-right: 10px;
            font-size: 10px;
            font-size: 10/16*1rem;
            font-family: $avenir;
            color: #FFF;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
            margin-bottom: 10px;
            &:after{
              content: "";
              display: block;
              height: 10px;
              background-color: #FFF;
              width: 1px;
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -5px;
            }

            &:last-child{
              &:after{
                display: none;
              }
            }

            a {
              position: relative;
              &::before {
                content: "";
                display: block;
                width: 0;
                height: 1px;
                position: absolute;
                bottom: -3px;
                left: 0;
                background-color: #fff;
                transition: all .4s;
              }
            }

            &:hover,
            &:focus {
              a::before {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .ms-footer-cpr{
      margin-top: 40px;
      font-size: 9px;
      text-transform: uppercase;
      text-align: center;
      color: #5D5D5D;

      .ms-img {
        margin-right: 10px;
        float: left;
      }
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      
      .ms-footer-logo,
      .ms-footer-social,
      .ms-footer-menu{
        width: 33.33%;
      }

      .ms-footer-logo{
        order: 0;
        margin: 0;
        >a {
          width: auto;
          margin-left: 0;
          text-align: left;
          display: inline-block;
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          left: 0;
          position: absolute; 
        }
      }

      .ms-footer-menu{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        nav{
          width: auto;
          max-width: 100%;
          margin: 0 auto;
          margin-left: 0;
          ul{
            display: block;
            li{
              padding: 0;
              margin: 0;
              font-size: 13px;
              font-size: 13/16*1rem;
              margin-bottom: 15px;
              &:after{
                display: none;
              }
            }
          }

          &.ms-ft-menu-b{
            display: block;
            margin-left: auto;
            margin-right: 0;
          }
        }
      }

      .ms-footer-social{
        order: 2;
        .ms-social{
          margin-top: 0;
          max-width: 280px;
          margin-left: auto;
          margin-right: 0;
        }

        .ms-wrap-newsletter {
          display: block;
          margin-left: auto;
          margin-right: 0;
          max-width: 280px;
          position: relative;

          .ms-wrap-title {
            font-size: 20px;
            font-size: 20/16*1rem;
            font-weight: 300;
            font-family: $tiempos;
            color: #FFF;
            line-height: 1.1;
            margin-bottom: 10px;
            font-style: italic;
            letter-spacing: 1px;
            span{
              display: block;
            }
          }

          form{
            label{
              display: none;
            }

            input[type="email"],
            input[type="text"]{
              width: 100%;
              height: 45px;
              padding: 0 15px;
              color: #FFF;
              border-bottom: 2px solid #FFF;
              font-size: 15px;
              font-size: 15/16*1rem;
              margin-bottom: 30px;
              background-color: transparent;
              font-family: $avenir;
              letter-spacing: 1px;
              &::placeholder{
                color: #FFF;
              }
            }

            button{
              height: 45px;
              width: auto;
              min-width: auto;
              padding: 0 30px;
              font-size: 13px;
              font-size: 13/16*1rem;
              font-weight: normal;
              letter-spacing: 1px;
              border: 1px solid #FFF;
              background-color: #000;

              &:hover,
              &:focus {
                background-color: #fff;
                color: #000;

                + .newsletter-buble {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

            .newsletter-buble {
              background: #fff;
              color: #000;
              display: inline-block;
              font-family: $avenir;
              font-size: 12px;
              max-width: 140px;
              padding: 10px 15px;
              position: absolute;
              left: 132px;
              opacity: 0;
              visibility: hidden;
              transition: all .3s;              

              &::before {
                border-bottom: 10px solid transparent;
                border-left: 10px solid transparent;
                border-right: 10px solid #fff;
                border-top: 10px solid transparent;
                content: "";
                height: 0;
                left: -19px;
                position: absolute;
                top: 15px;
                width: 0;
              }

              @media screen and (min-width: 1440px) {
                left: 140px;
              }

            }
          }
        }
      }

      .ms-footer-cpr{
        order: 3;
        max-width: 1110px;
        text-align: left;        
      }
    }

    @media screen and (min-width: 1440px) {

      .ms-footer-menu{
        nav{
          &.ms-ft-menu-b{
            margin-left: 0;
            margin-right: auto;
          }
        }
      }

      .ms-footer-social{
        .ms-social{
          max-width: 430px;
        }

        .ms-wrap-newsletter{
          max-width: 430px;
          .ms-wrap-title{
            font-size: 24px;
            font-size: 24/16*1rem;
            margin: 25px 0 20px 0;
          }

          form{
            button{
              height: 50px;
              width: auto;
              font-size: 15px;
              font-size: 15/16*1rem;
            }
          }
        }
      }

      .ms-footer-cpr{
        font-size: 11px;
        font-size: 11/16*1rem;
      }
    }
  }

  &.ms-footer-agent {
    .ms-wrap-footer {
      display: block;

      .ms-info-footer {
        text-align: center;

        @media screen and (min-width: 1024px) {
          align-items: center;
          display: flex;
        }

        .ms-logo-footer {
          align-items: center;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;

          @media screen and (min-width: 1024px) {
            line-height: 0;
            margin-bottom: 0;
            text-align: left;
          }

          img {
            max-width: 120px;

            @media screen and (min-width: 480px) {
              max-width: 250px;
            }            
          }

          .logo-content-agent {
            align-items: flex-start;
            border-right: 1px solid #fff;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            line-height: 1.125;
            margin-right: 10px;
            padding-right: 10px;
            padding-top: 2px;
            width: auto;
  
            @media screen and (min-width: 1024px) {
              padding-top: 0;
              margin-right: 15px;
              padding-right: 15px;
            }
          }

          .logo-content-agent-name,
          .logo-content-agent-title {
            color: #fff;
            text-transform: uppercase;
          }

          .logo-content-agent-name {
            font-family: $tiempos;
            font-size: 14/16*1rem;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: capitalize;

            @media screen and (min-width: 480px) {
              font-size: 20/16*1rem;
            }

            @media screen and (min-width: 1024px) {
              font-size: 22/16*1rem;
            }
          }

          .logo-content-agent-title {
            font-size: 7/16*1rem;
            font-weight: 600;
            letter-spacing: 1px;

            @media screen and (min-width: 480px) {
              font-size: 11/16*1rem;
            }

            @media screen and (min-width: 1024px) {
              font-size: 12/16*1rem;
            }
          }
        }

        .ms-wrap-gt {
          margin-bottom: 15px;

          @media screen and (min-width: 1024px) {
            margin-bottom: 0;
            margin-left: 20px;
            text-align: left;
          }

          li {
            color: #fff;
            font-family: "Avenir LT Std", sans-serif;
            font-size: 12px;
            letter-spacing: 1px;
            margin: 5px 0;

            @media screen and (min-width: 1024px) {
              font-size: 13/16*1rem;
            }
          }

          address {
            font-style: normal;
          }
        }

        .ms-wrap-mls {
          margin-left: auto;
        }
      }
      
      .ms-footer-cpr {
        margin-top: 15px;
      }
    }
  }

  .ms-bottom-footer {
    border-top: 1px solid #454545;
    margin-top: 15px;
    order: 10;
    width: 100%;

    @media screen and (min-width: 1024px) {
      padding: 5px 0;
    }

    .ms-footer-section {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0!important;
      }

      .ms-sub-menu-footer {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 15px;

        @media screen and (min-width: 1024px) {
          margin-top: 0;
          order: 2;
        }

        li {
          margin: 0 5px;
          width: auto;
          color: #fff;
          font-size: 10px;
          text-transform: uppercase;

          @media screen and (min-width: 1024px) {
            font-size: 11/16*1rem;
          }
        }
      }

      .ms-copyright {
        color: #fff;
        font-size: 10px;
        line-height: 1.2;
        margin: 12px 0;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 1024px) {
          font-size: 11/16*1rem;
          order: 1;
        }
      }

      .ms-trem {
        align-items: center;
        color: #818181;
        display: flex;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;

        @media screen and (min-width: 1024px) {
          font-size: 11/16*1rem;
          order: 3;
        }

        a {
          background-color: #0072AC;
          color: #FFF;
          margin-left: 5px;
          padding: 4.5px 10px;
          transition: all .3s;
  
          &:hover,
          &:focus {
            background-color: #005a88;
          }
  
          &:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 3.2px rgba(0,123,255,.25);
            outline: 0;
          }
  
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1220px){
  #footer.ms-footer-agent .ms-wrap-footer .ms-info-footer .ms-wrap-mls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .ms-img{
      flex-shrink: 0;
    }
    .ms-social{
      margin: 0 15px;
    }
  }
}